
<mat-sidenav-container>
  <mat-sidenav [opened]="true" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let op of options"  (click) = "goTo(op)" >
        {{op}}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    kljhkjhkb
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>
